* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu";
    font-size: 24px;
    padding: 5px 5px 0 5px;
}

window#waybar {
    background: transparent;
    color: #352c24;
}

#window {
    font-family: "Ubuntu";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    font-size: 30px;
    padding: 0 2px;
    background: transparent;
}

#workspaces button.active {
    color: #ac5402;
}
 
.modules-left {
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    padding: 3px 0 0 0;
}

#battery {
}

#battery icon {
    color:  #b3434e;
}

#battery.charging {
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    color: #b3434e;
}

#pulseaudio {
}

#pulseaudio.muted {
    color: #b3434e;
}

#tray {
}


